Cold Caller (Vapi + Make.com Integration)/ai-cold-caller-template-2-0.json
{
    "name": "AI Cold Caller Template 2.0",
    "flow": [
      {
        "id": 1,
        "module": "google-sheets:filterRows",
        "version": 2,
        "parameters": {
          "__IMTCONN__": 2132426
        },
        "mapper": {
          "from": "drive",
          "limit": "10",
          "filter": [
            [
              {
                "a": "C",
                "b": "not-called",
                "o": "text:equal"
              }
            ]
          ],
          "sheetId": "Lead list",
          "sortOrder": "asc",
          "spreadsheetId": "10oafDvF02sFBsr70ewmmHkcZi-dbyIMeCnOn7Gx_3mc",
          "tableFirstRow": "A1:Z1",
          "includesHeaders": true,
          "valueRenderOption": "FORMATTED_VALUE",
          "dateTimeRenderOption": "FORMATTED_STRING"
        },
        "metadata": {
          "designer": {
            "x": 0,
            "y": 0
          },
          "restore": {
            "expect": {
              "from": {
                "label": "Select from My Drive"
              },
              "orderBy": {
                "mode": "chose"
              },
              "sheetId": {
                "mode": "chose",
                "label": "Lead list"
              },
              "sortOrder": {
                "mode": "chose",
                "label": "Ascending"
              },
              "spreadsheetId": {
                "mode": "chose",
                "label": "Dynamic AI Cold Caller 2.0"
              },
              "tableFirstRow": {
                "label": "A-Z"
              },
              "includesHeaders": {
                "mode": "chose",
                "label": "Yes"
              },
              "valueRenderOption": {
                "mode": "chose",
                "label": "Formatted value"
              },
              "dateTimeRenderOption": {
                "mode": "chose",
                "label": "Formatted string"
              }
            },
            "parameters": {
              "__IMTCONN__": {
                "data": {
                  "scoped": "true",
                  "connection": "google"
                },
                "label": "Google Integraticus (hello@integraticus.com)"
              }
            }
          },
          "parameters": [
            {
              "name": "__IMTCONN__",
              "type": "account:google",
              "label": "Connection",
              "required": true
            }
          ],
          "expect": [
            {
              "name": "from",
              "type": "select",
              "label": "Enter a Spreadsheet ID and Sheet Name",
              "required": true,
              "validate": {
                "enum": [
                  "drive",
                  "share"
                ]
              }
            },
            {
              "name": "valueRenderOption",
              "type": "select",
              "label": "Value render option",
              "validate": {
                "enum": [
                  "FORMATTED_VALUE",
                  "UNFORMATTED_VALUE",
                  "FORMULA"
                ]
              }
            },
            {
              "name": "dateTimeRenderOption",
              "type": "select",
              "label": "Date and time render option",
              "validate": {
                "enum": [
                  "SERIAL_NUMBER",
                  "FORMATTED_STRING"
                ]
              }
            },
            {
              "name": "limit",
              "type": "number",
              "label": "Maximum number of returned rows"
            },
            {
              "name": "spreadsheetId",
              "type": "select",
              "label": "Spreadsheet",
              "required": true
            },
            {
              "name": "sheetId",
              "type": "select",
              "label": "Sheet Name",
              "required": true
            },
            {
              "name": "includesHeaders",
              "type": "select",
              "label": "Table contains headers",
              "required": true,
              "validate": {
                "enum": [true, false]
              }
            },
            {
              "name": "tableFirstRow",
              "type": "select",
              "label": "Column range",
              "required": true,
              "validate": {
                "enum": [
                  "A1:Z1",
                  "A1:BZ1",
                  "A1:CZ1",
                  "A1:DZ1",
                  "A1:MZ1",
                  "A1:ZZ1",
                  "A1:AZZ1",
                  "A1:BZZ1",
                  "A1:CZZ1",
                  "A1:DZZ1",
                  "A1:MZZ1",
                  "A1:ZZZ1"
                ]
              }
            },
            {
              "name": "filter",
              "type": "filter",
              "label": "Filter",
              "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
            },
            {
              "name": "sortOrder",
              "type": "select",
              "label": "Sort order",
              "validate": {
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "orderBy",
              "type": "select",
              "label": "Order by"
            }
          ],
          "interface": [
            {
              "name": "__IMTLENGTH__",
              "type": "uinteger",
              "label": "Total number of bundles"
            },
            {
              "name": "__IMTINDEX__",
              "type": "uinteger",
              "label": "Bundle order position"
            },
            {
              "name": "__ROW_NUMBER__",
              "type": "number",
              "label": "Row number"
            },
            {
              "name": "__SPREADSHEET_ID__",
              "type": "text",
              "label": "Spreadsheet ID"
            },
            {
              "name": "__SHEET__",
              "type": "text",
              "label": "Sheet"
            },
            {
              "name": "0",
              "type": "text",
              "label": "Phone Number (A)"
            },
            {
              "name": "1",
              "type": "text",
              "label": "First Name (B)"
            },
            {
              "name": "2",
              "type": "text",
              "label": "Status (C)"
            },
            {
              "name": "3",
              "type": "text",
              "label": "Country (D)"
            },
            {
              "name": "4",
              "type": "text",
              "label": "Phone Number ID (E)"
            },
            {
              "name": "5",
              "type": "text",
              "label": "(F)"
            },
            {
              "name": "6",
              "type": "text",
              "label": "(G)"
            },
            {
              "name": "7",
              "type": "text",
              "label": "(H)"
            },
            {
              "name": "8",
              "type": "text",
              "label": "(I)"
            },
            {
              "name": "9",
              "type": "text",
              "label": "(J)"
            },
            {
              "name": "10",
              "type": "text",
              "label": "(K)"
            },
            {
              "name": "11",
              "type": "text",
              "label": "(L)"
            },
            {
              "name": "12",
              "type": "text",
              "label": "(M)"
            },
            {
              "name": "13",
              "type": "text",
              "label": "(N)"
            },
            {
              "name": "14",
              "type": "text",
              "label": "(O)"
            },
            {
              "name": "15",
              "type": "text",
              "label": "(P)"
            },
            {
              "name": "16",
              "type": "text",
              "label": "(Q)"
            },
            {
              "name": "17",
              "type": "text",
              "label": "(R)"
            },
            {
              "name": "18",
              "type": "text",
              "label": "(S)"
            },
            {
              "name": "19",
              "type": "text",
              "label": "(T)"
            },
            {
              "name": "20",
              "type": "text",
              "label": "(U)"
            },
            {
              "name": "21",
              "type": "text",
              "label": "(V)"
            },
            {
              "name": "22",
              "type": "text",
              "label": "(W)"
            },
            {
              "name": "23",
              "type": "text",
              "label": "(X)"
            },
            {
              "name": "24",
              "type": "text",
              "label": "(Y)"
            },
            {
              "name": "25",
              "type": "text",
              "label": "(Z)"
            }
          ]
        }
      },
      {
        "id": 7,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
          "feeder": 1
        },
        "mapper": {
          "0": "{{1.`0`}}",
          "1": "{{1.`1`}}",
          "2": "{{1.`2`}}",
          "3": "{{1.`3`}}",
          "4": "{{1.`4`}}",
          "5": "{{1.`5`}}",
          "6": "{{1.`6`}}",
          "7": "{{1.`7`}}",
          "8": "{{1.`8`}}",
          "9": "{{1.`9`}}",
          "10": "{{1.`10`}}",
          "11": "{{1.`11`}}",
          "12": "{{1.`12`}}",
          "13": "{{1.`13`}}",
          "14": "{{1.`14`}}",
          "15": "{{1.`15`}}",
          "16": "{{1.`16`}}",
          "17": "{{1.`17`}}",
          "18": "{{1.`18`}}",
          "19": "{{1.`19`}}",
          "20": "{{1.`20`}}",
          "21": "{{1.`21`}}",
          "22": "{{1.`22`}}",
          "23": "{{1.`23`}}",
          "24": "{{1.`24`}}",
          "25": "{{1.`25`}}",
          "26": "{{1.`26`}}",
          "27": "{{1.`27`}}",
          "28": "{{1.`28`}}",
          "29": "{{1.`29`}}",
          "30": "{{1.`30`}}",
          "31": "{{1.`31`}}",
          "32": "{{1.`32`}}",
          "33": "{{1.`33`}}",
          "34": "{{1.`34`}}",
          "35": "{{1.`35`}}",
          "36": "{{1.`36`}}",
          "37": "{{1.`37`}}",
          "38": "{{1.`38`}}",
          "39": "{{1.`39`}}",
          "40": "{{1.`40`}}",
          "41": "{{1.`41`}}",
          "42": "{{1.`42`}}",
          "43": "{{1.`43`}}",
          "44": "{{1.`44`}}",
          "45": "{{1.`45`}}",
          "46": "{{1.`46`}}",
          "47": "{{1.`47`}}",
          "48": "{{1.`48`}}",
          "49": "{{1.`49`}}",
          "50": "{{1.`50`}}",
          "51": "{{1.`51`}}",
          "52": "{{1.`52`}}",
          "53": "{{1.`53`}}",
          "54": "{{1.`54`}}",
          "55": "{{1.`55`}}",
          "56": "{{1.`56`}}",
          "57": "{{1.`57`}}",
          "58": "{{1.`58`}}",
          "59": "{{1.`59`}}",
          "60": "{{1.`60`}}",
          "61": "{{1.`61`}}",
          "62": "{{1.`62`}}",
          "63": "{{1.`63`}}",
          "64": "{{1.`64`}}",
          "65": "{{1.`65`}}",
          "66": "{{1.`66`}}",
          "67": "{{1.`67`}}",
          "68": "{{1.`68`}}",
          "69": "{{1.`69`}}",
          "70": "{{1.`70`}}",
          "71": "{{1.`71`}}",
          "72": "{{1.`72`}}",
          "73": "{{1.`73`}}",
          "74": "{{1.`74`}}",
          "75": "{{1.`75`}}",
          "76": "{{1.`76`}}",
          "77": "{{1.`77`}}",
          "78": "{{1.`78`}}",
          "79": "{{1.`79`}}",
          "80": "{{1.`80`}}",
          "81": "{{1.`81`}}",
          "82": "{{1.`82`}}",
          "83": "{{1.`83`}}",
          "84": "{{1.`84`}}",
          "85": "{{1.`85`}}",
          "86": "{{1.`86`}}",
          "87": "{{1.`87`}}",
          "88": "{{1.`88`}}",
          "89": "{{1.`89`}}",
          "90": "{{1.`90`}}",
          "91": "{{1.`91`}}",
          "92": "{{1.`92`}}",
          "93": "{{1.`93`}}",
          "94": "{{1.`94`}}",
          "95": "{{1.`95`}}",
          "96": "{{1.`96`}}",
          "97": "{{1.`97`}}",
          "98": "{{1.`98`}}",
          "99": "{{1.`99`}}",
          "100": "{{1.`100`}}",
          "101": "{{1.`101`}}",
          "102": "{{1.`102`}}",
          "103": "{{1.`103`}}",
          "__SHEET__": "{{1.`__SHEET__`}}",
          "__IMTINDEX__": "{{1.`__IMTINDEX__`}}",
          "__IMTLENGTH__": "{{1.`__IMTLENGTH__`}}",
          "__ROW_NUMBER__": "{{1.`__ROW_NUMBER__`}}",
          "__SPREADSHEET_ID__": "{{1.`__SPREADSHEET_ID__`}}"
        },
        "metadata": {
          "designer": {
            "x": 300,
            "y": 0
          },
          "restore": {
            "extra": {
              "feeder": {
                "label": "Google Sheets - Search Rows [1]"
              },
              "target": {
                "label": "Custom"
              }
            }
          }
        }
      },
      {
        "id": 3,
        "module": "util:SetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "filter": {
          "name": "If no bundles",
          "conditions": [
            [
              {
                "a": "{{7.array[].`__IMTLENGTH__`}}",
                "b": "1",
                "o": "number:greaterorequal"
              }
            ]
          ]
        },
        "mapper": {
          "name": "assistant_id",
          "scope": "roundtrip",
          "value": "your-assistant-id"
        },
        "metadata": {
          "designer": {
            "x": 600,
            "y": 0,
            "name": "Assistant ID"
          },
          "restore": {
            "expect": {
              "scope": {
                "label": "One cycle"
              }
            }
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            },
            {
              "name": "scope",
              "type": "select",
              "label": "Variable lifetime",
              "required": true,
              "validate": {
                "enum": [
                  "roundtrip",
                  "execution"
                ]
              }
            },
            {
              "name": "value",
              "type": "any",
              "label": "Variable value"
            }
          ],
          "interface": [
            {
              "name": "assistant_id",
              "label": "assistant_id",
              "type": "any"
            }
          ]
        }
      },
      {
        "id": 5,
        "module": "util:SetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "vapi_api_key",
          "scope": "roundtrip",
          "value": "your-vapi-api-key"
        },
        "metadata": {
          "designer": {
            "x": 900,
            "y": 0,
            "name": "Vapi API Key"
          },
          "restore": {
            "expect": {
              "scope": {
                "label": "One cycle"
              }
            }
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            },
            {
              "name": "scope",
              "type": "select",
              "label": "Variable lifetime",
              "required": true,
              "validate": {
                "enum": [
                  "roundtrip",
                  "execution"
                ]
              }
            },
            {
              "name": "value",
              "type": "any",
              "label": "Variable value"
            }
          ],
          "interface": [
            {
              "name": "vapi_api_key",
              "label": "vapi_api_key",
              "type": "any"
            }
          ]
        }
      },
      {
        "id": 30,
        "module": "google-sheets:filterRows",
        "version": 2,
        "parameters": {
          "__IMTCONN__": 2132426
        },
        "mapper": {
          "from": "drive",
          "filter": [
            [
              {
                "a": "B",
                "b": "active",
                "o": "text:equal"
              }
            ]
          ],
          "sheetId": "Phone Numbers",
          "sortOrder": "asc",
          "spreadsheetId": "10oafDvF02sFBsr70ewmmHkcZi-dbyIMeCnOn7Gx_3mc",
          "tableFirstRow": "A1:CZ1",
          "includesHeaders": true,
          "valueRenderOption": "FORMATTED_VALUE",
          "dateTimeRenderOption": "FORMATTED_STRING"
        },
        "metadata": {
          "designer": {
            "x": 1200,
            "y": 0
          },
          "restore": {
            "expect": {
              "from": {
                "label": "Select from My Drive"
              },
              "orderBy": {
                "mode": "chose"
              },
              "sheetId": {
                "mode": "chose",
                "label": "Phone Numbers"
              },
              "sortOrder": {
                "mode": "chose",
                "label": "Ascending"
              },
              "spreadsheetId": {
                "mode": "chose",
                "label": "Dynamic AI Cold Caller 2.0"
              },
              "tableFirstRow": {
                "label": "A-CZ"
              },
              "includesHeaders": {
                "mode": "chose",
                "label": "Yes"
              },
              "valueRenderOption": {
                "mode": "chose",
                "label": "Formatted value"
              },
              "dateTimeRenderOption": {
                "mode": "chose",
                "label": "Formatted string"
              }
            },
            "parameters": {
              "__IMTCONN__": {
                "data": {
                  "scoped": "true",
                  "connection": "google"
                },
                "label": "Google Integraticus (hello@integraticus.com)"
              }
            }
          },
          "parameters": [
            {
              "name": "__IMTCONN__",
              "type": "account:google",
              "label": "Connection",
              "required": true
            }
          ],
          "expect": [
            {
              "name": "from",
              "type": "select",
              "label": "Enter a Spreadsheet ID and Sheet Name",
              "required": true,
              "validate": {
                "enum": [
                  "drive",
                  "share"
                ]
              }
            },
            {
              "name": "valueRenderOption",
              "type": "select",
              "label": "Value render option",
              "validate": {
                "enum": [
                  "FORMATTED_VALUE",
                  "UNFORMATTED_VALUE",
                  "FORMULA"
                ]
              }
            },
            {
              "name": "dateTimeRenderOption",
              "type": "select",
              "label": "Date and time render option",
              "validate": {
                "enum": [
                  "SERIAL_NUMBER",
                  "FORMATTED_STRING"
                ]
              }
            },
            {
              "name": "limit",
              "type": "number",
              "label": "Maximum number of returned rows"
            },
            {
              "name": "spreadsheetId",
              "type": "select",
              "label": "Spreadsheet",
              "required": true
            },
            {
              "name": "sheetId",
              "type": "select",
              "label": "Sheet Name",
              "required": true
            },
            {
              "name": "includesHeaders",
              "type": "select",
              "label": "Table contains headers",
              "required": true,
              "validate": {
                "enum": [true, false]
              }
            },
            {
              "name": "tableFirstRow",
              "type": "select",
              "label": "Column range",
              "required": true,
              "validate": {
                "enum": [
                  "A1:Z1",
                  "A1:BZ1",
                  "A1:CZ1",
                  "A1:DZ1",
                  "A1:MZ1",
                  "A1:ZZ1",
                  "A1:AZZ1",
                  "A1:BZZ1",
                  "A1:CZZ1",
                  "A1:DZZ1",
                  "A1:MZZ1",
                  "A1:ZZZ1"
                ]
              }
            },
            {
              "name": "filter",
              "type": "filter",
              "label": "Filter",
              "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
            },
            {
              "name": "sortOrder",
              "type": "select",
              "label": "Sort order",
              "validate": {
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "orderBy",
              "type": "select",
              "label": "Order by"
            }
          ],
          "interface": [
            {
              "name": "__IMTLENGTH__",
              "type": "uinteger",
              "label": "Total number of bundles"
            },
            {
              "name": "__IMTINDEX__",
              "type": "uinteger",
              "label": "Bundle order position"
            },
            {
              "name": "__ROW_NUMBER__",
              "type": "number",
              "label": "Row number"
            },
            {
              "name": "__SPREADSHEET_ID__",
              "type": "text",
              "label": "Spreadsheet ID"
            },
            {
              "name": "__SHEET__",
              "type": "text",
              "label": "Sheet"
            },
            {
              "name": "0",
              "type": "text",
              "label": "Phone Number Id (A)"
            },
            {
              "name": "1",
              "type": "text",
              "label": "Status (B)"
            },
            {
              "name": "2",
              "type": "text",
              "label": "(C)"
            },
            {
              "name": "3",
              "type": "text",
              "label": "(D)"
            },
            {
              "name": "4",
              "type": "text",
              "label": "(E)"
            },
            {
              "name": "5",
              "type": "text",
              "label": "(F)"
            },
            {
              "name": "6",
              "type": "text",
              "label": "(G)"
            },
            {
              "name": "7",
              "type": "text",
              "label": "(H)"
            },
            {
              "name": "8",
              "type": "text",
              "label": "(I)"
            },
            {
              "name": "9",
              "type": "text",
              "label": "(J)"
            },
            {
              "name": "10",
              "type": "text",
              "label": "(K)"
            },
            {
              "name": "11",
              "type": "text",
              "label": "(L)"
            },
            {
              "name": "12",
              "type": "text",
              "label": "(M)"
            },
            {
              "name": "13",
              "type": "text",
              "label": "(N)"
            },
            {
              "name": "14",
              "type": "text",
              "label": "(O)"
            },
            {
              "name": "15",
              "type": "text",
              "label": "(P)"
            },
            {
              "name": "16",
              "type": "text",
              "label": "(Q)"
            },
            {
              "name": "17",
              "type": "text",
              "label": "(R)"
            },
            {
              "name": "18",
              "type": "text",
              "label": "(S)"
            },
            {
              "name": "19",
              "type": "text",
              "label": "(T)"
            },
            {
              "name": "20",
              "type": "text",
              "label": "(U)"
            },
            {
              "name": "21",
              "type": "text",
              "label": "(V)"
            },
            {
              "name": "22",
              "type": "text",
              "label": "(W)"
            },
            {
              "name": "23",
              "type": "text",
              "label": "(X)"
            },
            {
              "name": "24",
              "type": "text",
              "label": "(Y)"
            },
            {
              "name": "25",
              "type": "text",
              "label": "(Z)"
            },
            {
              "name": "26",
              "type": "text",
              "label": "(AA)"
            },
            {
              "name": "27",
              "type": "text",
              "label": "(AB)"
            },
            {
              "name": "28",
              "type": "text",
              "label": "(AC)"
            },
            {
              "name": "29",
              "type": "text",
              "label": "(AD)"
            },
            {
              "name": "30",
              "type": "text",
              "label": "(AE)"
            },
            {
              "name": "31",
              "type": "text",
              "label": "(AF)"
            },
            {
              "name": "32",
              "type": "text",
              "label": "(AG)"
            },
            {
              "name": "33",
              "type": "text",
              "label": "(AH)"
            },
            {
              "name": "34",
              "type": "text",
              "label": "(AI)"
            },
            {
              "name": "35",
              "type": "text",
              "label": "(AJ)"
            },
            {
              "name": "36",
              "type": "text",
              "label": "(AK)"
            },
            {
              "name": "37",
              "type": "text",
              "label": "(AL)"
            },
            {
              "name": "38",
              "type": "text",
              "label": "(AM)"
            },
            {
              "name": "39",
              "type": "text",
              "label": "(AN)"
            },
            {
              "name": "40",
              "type": "text",
              "label": "(AO)"
            },
            {
              "name": "41",
              "type": "text",
              "label": "(AP)"
            },
            {
              "name": "42",
              "type": "text",
              "label": "(AQ)"
            },
            {
              "name": "43",
              "type": "text",
              "label": "(AR)"
            },
            {
              "name": "44",
              "type": "text",
              "label": "(AS)"
            },
            {
              "name": "45",
              "type": "text",
              "label": "(AT)"
            },
            {
              "name": "46",
              "type": "text",
              "label": "(AU)"
            },
            {
              "name": "47",
              "type": "text",
              "label": "(AV)"
            },
            {
              "name": "48",
              "type": "text",
              "label": "(AW)"
            },
            {
              "name": "49",
              "type": "text",
              "label": "(AX)"
            },
            {
              "name": "50",
              "type": "text",
              "label": "(AY)"
            },
            {
              "name": "51",
              "type": "text",
              "label": "(AZ)"
            },
            {
              "name": "52",
              "type": "text",
              "label": "(BA)"
            },
            {
              "name": "53",
              "type": "text",
              "label": "(BB)"
            },
            {
              "name": "54",
              "type": "text",
              "label": "(BC)"
            },
            {
              "name": "55",
              "type": "text",
              "label": "(BD)"
            },
            {
              "name": "56",
              "type": "text",
              "label": "(BE)"
            },
            {
              "name": "57",
              "type": "text",
              "label": "(BF)"
            },
            {
              "name": "58",
              "type": "text",
              "label": "(BG)"
            },
            {
              "name": "59",
              "type": "text",
              "label": "(BH)"
            },
            {
              "name": "60",
              "type": "text",
              "label": "(BI)"
            },
            {
              "name": "61",
              "type": "text",
              "label": "(BJ)"
            },
            {
              "name": "62",
              "type": "text",
              "label": "(BK)"
            },
            {
              "name": "63",
              "type": "text",
              "label": "(BL)"
            },
            {
              "name": "64",
              "type": "text",
              "label": "(BM)"
            },
            {
              "name": "65",
              "type": "text",
              "label": "(BN)"
            },
            {
              "name": "66",
              "type": "text",
              "label": "(BO)"
            },
            {
              "name": "67",
              "type": "text",
              "label": "(BP)"
            },
            {
              "name": "68",
              "type": "text",
              "label": "(BQ)"
            },
            {
              "name": "69",
              "type": "text",
              "label": "(BR)"
            },
            {
              "name": "70",
              "type": "text",
              "label": "(BS)"
            },
            {
              "name": "71",
              "type": "text",
              "label": "(BT)"
            },
            {
              "name": "72",
              "type": "text",
              "label": "(BU)"
            },
            {
              "name": "73",
              "type": "text",
              "label": "(BV)"
            },
            {
              "name": "74",
              "type": "text",
              "label": "(BW)"
            },
            {
              "name": "75",
              "type": "text",
              "label": "(BX)"
            },
            {
              "name": "76",
              "type": "text",
              "label": "(BY)"
            },
            {
              "name": "77",
              "type": "text",
              "label": "(BZ)"
            },
            {
              "name": "78",
              "type": "text",
              "label": "(CA)"
            },
            {
              "name": "79",
              "type": "text",
              "label": "(CB)"
            },
            {
              "name": "80",
              "type": "text",
              "label": "(CC)"
            },
            {
              "name": "81",
              "type": "text",
              "label": "(CD)"
            },
            {
              "name": "82",
              "type": "text",
              "label": "(CE)"
            },
            {
              "name": "83",
              "type": "text",
              "label": "(CF)"
            },
            {
              "name": "84",
              "type": "text",
              "label": "(CG)"
            },
            {
              "name": "85",
              "type": "text",
              "label": "(CH)"
            },
            {
              "name": "86",
              "type": "text",
              "label": "(CI)"
            },
            {
              "name": "87",
              "type": "text",
              "label": "(CJ)"
            },
            {
              "name": "88",
              "type": "text",
              "label": "(CK)"
            },
            {
              "name": "89",
              "type": "text",
              "label": "(CL)"
            },
            {
              "name": "90",
              "type": "text",
              "label": "(CM)"
            },
            {
              "name": "91",
              "type": "text",
              "label": "(CN)"
            },
            {
              "name": "92",
              "type": "text",
              "label": "(CO)"
            },
            {
              "name": "93",
              "type": "text",
              "label": "(CP)"
            },
            {
              "name": "94",
              "type": "text",
              "label": "(CQ)"
            },
            {
              "name": "95",
              "type": "text",
              "label": "(CR)"
            },
            {
              "name": "96",
              "type": "text",
              "label": "(CS)"
            },
            {
              "name": "97",
              "type": "text",
              "label": "(CT)"
            },
            {
              "name": "98",
              "type": "text",
              "label": "(CU)"
            },
            {
              "name": "99",
              "type": "text",
              "label": "(CV)"
            },
            {
              "name": "100",
              "type": "text",
              "label": "(CW)"
            },
            {
              "name": "101",
              "type": "text",
              "label": "(CX)"
            },
            {
              "name": "102",
              "type": "text",
              "label": "(CY)"
            },
            {
              "name": "103",
              "type": "text",
              "label": "(CZ)"
            }
          ]
        }
      },
      {
        "id": 31,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
          "feeder": 30
        },
        "mapper": {
          "0": "{{30.`0`}}"
        },
        "metadata": {
          "designer": {
            "x": 1500,
            "y": 0
          },
          "restore": {
            "extra": {
              "feeder": {
                "label": "Google Sheets - Search Rows [30]"
              },
              "target": {
                "label": "Custom"
              }
            }
          }
        }
      },
      {
        "id": 19,
        "module": "util:SetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "phone_number_id",
          "scope": "roundtrip",
          "value": "{{map(toArray(first(shuffle(31.array))); \"value\")}}"
        },
        "metadata": {
          "designer": {
            "x": 1800,
            "y": 0,
            "name": "Phone Number Id"
          },
          "restore": {
            "expect": {
              "scope": {
                "label": "One cycle"
              }
            }
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            },
            {
              "name": "scope",
              "type": "select",
              "label": "Variable lifetime",
              "default": "roundtrip",
              "options": [
                {
                  "label": "One cycle",
                  "value": "roundtrip"
                },
                {
                  "label": "One execution",
                  "value": "execution"
                }
              ],
              "required": true
            },
            {
              "name": "value",
              "type": "any",
              "label": "Variable value"
            }
          ],
          "interface": [
            {
              "name": "phone_number_id",
              "type": "any",
              "label": "phone_number_id"
            }
          ]
        }
      },
      {
        "id": 2,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": false,
          "useNewZLibDeCompress": true
        },
        "mapper": {
          "ca": "",
          "qs": [],
          "url": "https://api.vapi.ai/assistant/{{3.assistant_id}}",
          "gzip": true,
          "method": "get",
          "headers": [
            {
              "name": "Authorization",
              "value": "Bearer {{5.vapi_api_key}}"
            }
          ],
          "timeout": "",
          "useMtls": false,
          "authPass": "",
          "authUser": "",
          "bodyType": "",
          "serializeUrl": false,
          "shareCookies": false,
          "parseResponse": false,
          "followRedirect": true,
          "useQuerystring": false,
          "followAllRedirects": false,
          "rejectUnauthorized": true
        },
        "metadata": {
          "designer": {
            "x": 2100,
            "y": 0
          },
          "restore": {
            "expect": {
              "qs": {
                "mode": "chose"
              },
              "method": {
                "mode": "chose",
                "label": "GET"
              },
              "headers": {
                "mode": "chose",
                "items": [null]
              },
              "bodyType": {
                "label": "Empty"
              }
            }
          },
          "parameters": [
            {
              "name": "handleErrors",
              "type": "boolean",
              "label": "Evaluate all states as errors (except for 2xx and 3xx )",
              "required": true
            },
            {
              "name": "useNewZLibDeCompress",
              "type": "hidden"
            }
          ],
          "expect": [
            {
              "name": "url",
              "type": "url",
              "label": "URL",
              "required": true
            },
            {
              "help": "Serializes URL and escapes special characters.",
              "name": "serializeUrl",
              "type": "boolean",
              "label": "Serialize URL",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "name": "method",
              "type": "select",
              "label": "Method",
              "default": "get",
              "options": [
                {
                  "label": "GET",
                  "value": "get"
                },
                {
                  "label": "HEAD",
                  "value": "head"
                },
                {
                  "label": "POST",
                  "value": "post"
                },
                {
                  "label": "PUT",
                  "value": "put"
                },
                {
                  "label": "PATCH",
                  "value": "patch"
                },
                {
                  "label": "DELETE",
                  "value": "delete"
                },
                {
                  "label": "OPTIONS",
                  "value": "options"
                }
              ],
              "editable": true,
              "required": true
            },
            {
              "name": "headers",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Headers",
              "labels": {
                "add": "Add a header",
                "edit": "Edit a header"
              },
              "editable": true,
              "required": false
            },
            {
              "name": "qs",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Query String",
              "labels": {
                "add": "Add parameter",
                "edit": "Edit parameter"
              },
              "editable": true,
              "required": false
            },
            {
              "name": "bodyType",
              "type": "select",
              "label": "Body type",
              "options": [
                {
                  "label": "Raw",
                  "value": "raw",
                  "nested": [
                    {
                      "help": "Sets the `Content-Type` request header.",
                      "name": "contentType",
                      "type": "select",
                      "label": "Content type",
                      "options": [
                        {
                          "label": "Text (text/plain)",
                          "value": "text/plain"
                        },
                        {
                          "label": "JSON (application/json)",
                          "value": "application/json"
                        },
                        {
                          "label": "XML (application/xml)",
                          "value": "application/xml"
                        },
                        {
                          "label": "XML (text/xml)",
                          "value": "text/xml"
                        },
                        {
                          "label": "HTML (text/html)",
                          "value": "text/html"
                        },
                        {
                          "label": "Custom",
                          "value": "custom",
                          "nested": [
                            {
                              "name": "customContentType",
                              "type": "text",
                              "label": "Value",
                              "required": true
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "name": "data",
                      "type": "buffer",
                      "label": "Request content"
                    }
                  ]
                },
                {
                  "label": "Application/x-www-form-urlencoded",
                  "value": "x_www_form_urlencoded",
                  "nested": [
                    {
                      "name": "formFields",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Key",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "array",
                      "label": "Fields",
                      "editable": true
                    }
                  ]
                },
                {
                  "label": "Multipart/form-data",
                  "value": "multipart_form_data",
                  "nested": [
                    {
                      "name": "formDataFields",
                      "spec": [
                        {
                          "name": "fieldType",
                          "type": "select",
                          "label": "Field type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Value"
                                }
                              ]
                            },
                            {
                              "label": "File",
                              "value": "file",
                              "nested": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "data",
                                  "type": "buffer",
                                  "label": "Data",
                                  "semantic": "file:data"
                                },
                                {
                                  "help": "File name, including the suffix, e.g. invoice, xml",
                                  "name": "fileName",
                                  "type": "filename",
                                  "label": "File name",
                                  "semantic": "file:name"
                                }
                              ]
                            }
                          ],
                          "required": true
                        }
                      ],
                      "type": "array",
                      "label": "Fields",
                      "editable": true
                    }
                  ]
                }
              ]
            },
            {
              "help": "Automatically parses responses and converts JSON and XML responses so you don't need to use JSON or XML parser. Before you can use parsed JSON or XML content, run the module once manually so that the module can recognize the response content and allows you to map it in subsequent modules.",
              "name": "parseResponse",
              "type": "boolean",
              "label": "Parse response",
              "required": true
            },
            {
              "help": "User name for Basic Auth",
              "name": "authUser",
              "type": "text",
              "label": "User name",
              "advanced": true
            },
            {
              "help": "Password for Basic Auth",
              "name": "authPass",
              "type": "password",
              "label": "Password",
              "advanced": true
            },
            {
              "help": "In seconds. Default: 300 seconds. This value controls two timeouts: Read timeout and Connection timeout. Read timeout is a time to wait for a server to send response headers (and start the response body) before aborting the request. Connection timeout sets the socket to timeout after timeout milliseconds of inactivity.",
              "name": "timeout",
              "type": "uinteger",
              "label": "Timeout",
              "advanced": true,
              "validate": {
                "max": 300,
                "min": 1
              }
            },
            {
              "name": "shareCookies",
              "type": "boolean",
              "label": "Share cookies with other HTTP modules",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "help": "Upload your certificate if you want to use TLS using your self-signed certificate.",
              "name": "ca",
              "type": "cert",
              "label": "Self-signed certificate",
              "advanced": true
            },
            {
              "name": "rejectUnauthorized",
              "type": "boolean",
              "label": "Reject connections that are using unverified (self-signed) certificates",
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "name": "followRedirect",
              "type": "boolean",
              "label": "Follow redirect",
              "nested": [
                {
                  "help": "Follows also non-GET HTTP 3xx responses as redirects.",
                  "name": "followAllRedirects",
                  "type": "boolean",
                  "label": "Follow all redirect",
                  "advanced": true,
                  "required": true
                }
              ],
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "help": "By default, Make handles multiple values for the same url query string parameter key as arrays (e.g. `www.test.com?foo=bar&foo=baz`will be converted to `www.test.com?foo[0]=bar&foo[1]=baz`). To disable this feature, activate this option.",
              "name": "useQuerystring",
              "type": "boolean",
              "label": "Disable serialization of multiple same query string keys as arrays",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "help": "Adds an `Accept-Encoding` header to request compressed content.",
              "name": "gzip",
              "type": "boolean",
              "label": "Request compressed content",
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "name": "useMtls",
              "type": "boolean",
              "label": "Use Mutual TLS",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "name": "followAllRedirects",
              "type": "boolean",
              "label": "Follow all redirect",
              "required": true
            }
          ]
        }
      },
      {
        "id": 9,
        "module": "builtin:BasicFeeder",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "array": "{{7.array}}"
        },
        "metadata": {
          "designer": {
            "x": 2400,
            "y": 0,
            "name": "GSheet Iterator"
          },
          "restore": {
            "expect": {
              "array": {
                "mode": "edit"
              }
            }
          },
          "expect": [
            {
              "mode": "edit",
              "name": "array",
              "spec": [],
              "type": "array",
              "label": "Array",
              "editable": true
            }
          ]
        }
      },
      {
        "id": 18,
        "module": "util:SetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "dynamic_assistant",
          "scope": "roundtrip",
          "value": "{{2.data}}"
        },
        "metadata": {
          "designer": {
            "x": 2700,
            "y": 0
          },
          "restore": {
            "expect": {
              "scope": {
                "label": "One cycle"
              }
            }
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            },
            {
              "name": "scope",
              "type": "select",
              "label": "Variable lifetime",
              "default": "roundtrip",
              "options": [
                {
                  "label": "One cycle",
                  "value": "roundtrip"
                },
                {
                  "label": "One execution",
                  "value": "execution"
                }
              ],
              "required": true
            },
            {
              "name": "value",
              "type": "any",
              "label": "Variable value"
            }
          ],
          "interface": [
            {
              "name": "dynamic_assistant",
              "type": "any",
              "label": "dynamic_assistant"
            }
          ]
        }
      },
      {
        "id": 8,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {
          "type": ""
        },
        "mapper": {
          "json": "[\n  {\n    \"tag\": \"first_name\",\n    \"value\": \"{{9.`1`}}\"\n  },\n  {\n    \"tag\": \"current_time\",\n    \"value\": \"{{formatDate(now; \"YYYY-MM-DD hh:mm A\")}}\"\n  },\n  {\n    \"tag\": \"user_country\",\n    \"value\": \"{{9.`3`}}\"\n  },\n  {\n    \"tag\": \"user_job_title\",\n    \"value\": \"{{9.`5`}}\"\n  }\n]"
        },
        "metadata": {
          "designer": {
            "x": 3000,
            "y": 0,
            "name": "Dynamic Variables"
          },
          "restore": {
            "parameters": {
              "type": {
                "label": "Choose a data structure"
              }
            }
          },
          "parameters": [
            {
              "name": "type",
              "type": "udt",
              "label": "Data structure"
            }
          ],
          "expect": [
            {
              "name": "json",
              "type": "text",
              "label": "JSON string",
              "required": true
            }
          ]
        }
      },
      {
        "id": 16,
        "module": "util:GetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "dynamic_assistant"
        },
        "metadata": {
          "designer": {
            "x": 3300,
            "y": 0
          },
          "restore": {
  
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            }
          ],
          "interface": [
            {
              "name": "dynamic_assistant",
              "type": "any",
              "label": "dynamic_assistant"
            }
          ]
        }
      },
      {
        "id": 11,
        "module": "util:SetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "dynamic_assistant",
          "scope": "roundtrip",
          "value": "{{replace(toString(16.dynamic_assistant); \"[\" + 8.tag + \"]\"; 8.value)}}"
        },
        "metadata": {
          "designer": {
            "x": 3600,
            "y": 0
          },
          "restore": {
            "expect": {
              "scope": {
                "label": "One cycle"
              }
            }
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            },
            {
              "name": "scope",
              "type": "select",
              "label": "Variable lifetime",
              "default": "roundtrip",
              "options": [
                {
                  "label": "One cycle",
                  "value": "roundtrip"
                },
                {
                  "label": "One execution",
                  "value": "execution"
                }
              ],
              "required": true
            },
            {
              "name": "value",
              "type": "any",
              "label": "Variable value"
            }
          ],
          "interface": [
            {
              "name": "dynamic_assistant",
              "type": "any",
              "label": "dynamic_assistant"
            }
          ]
        }
      },
      {
        "id": 13,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
          "feeder": 8
        },
        "mapper": {
          "tag": "{{8.tag}}",
          "value": "{{8.value}}"
        },
        "metadata": {
          "designer": {
            "x": 3900,
            "y": 0
          },
          "restore": {
            "extra": {
              "feeder": {
                "label": "Dynamic Variables - Parse JSON [8]"
              },
              "target": {
                "label": "Custom"
              }
            }
          }
        }
      },
      {
        "id": 15,
        "module": "util:GetVariable2",
        "version": 1,
        "parameters": {
  
        },
        "mapper": {
          "name": "dynamic_assistant"
        },
        "metadata": {
          "designer": {
            "x": 4200,
            "y": 0
          },
          "restore": {
  
          },
          "expect": [
            {
              "name": "name",
              "type": "text",
              "label": "Variable name",
              "required": true
            }
          ],
          "interface": [
            {
              "name": "dynamic_assistant",
              "type": "any",
              "label": "dynamic_assistant"
            }
          ]
        }
      },
      {
        "id": 20,
        "module": "json:ParseJSON",
        "version": 1,
        "parameters": {
          "type": ""
        },
        "mapper": {
          "json": "[{{15.dynamic_assistant}}]"
        },
        "metadata": {
          "designer": {
            "x": 4500,
            "y": 0
          },
          "restore": {
            "parameters": {
              "type": {
                "label": "Choose a data structure"
              }
            }
          },
          "parameters": [
            {
              "name": "type",
              "type": "udt",
              "label": "Data structure"
            }
          ],
          "expect": [
            {
              "name": "json",
              "type": "text",
              "label": "JSON string",
              "required": true
            }
          ]
        }
      },
      {
        "id": 21,
        "module": "builtin:BasicAggregator",
        "version": 1,
        "parameters": {
          "feeder": 20
        },
        "mapper": {
          "name": "{{20.name}}",
          "model": "{{20.model}}",
          "voice": "{{20.voice}}",
          "serverUrl": "{{20.serverUrl}}",
          "transcriber": "{{20.transcriber}}",
          "firstMessage": "{{20.firstMessage}}",
          "hipaaEnabled": "{{20.hipaaEnabled}}",
          "clientMessages": "{{20.clientMessages}}",
          "endCallMessage": "{{20.endCallMessage}}",
          "endCallPhrases": "{{20.endCallPhrases}}",
          "serverMessages": "{{20.serverMessages}}",
          "backgroundSound": "{{20.backgroundSound}}",
          "recordingEnabled": "{{20.recordingEnabled}}",
          "voicemailMessage": "{{20.voicemailMessage}}",
          "endCallFunctionEnabled": "{{20.endCallFunctionEnabled}}",
          "dialKeypadFunctionEnabled": "{{20.dialKeypadFunctionEnabled}}"
        },
        "metadata": {
          "designer": {
            "x": 4800,
            "y": 0,
            "name": "Key Whitelist"
          },
          "restore": {
            "extra": {
              "feeder": {
                "label": "JSON - Parse JSON [20]"
              },
              "target": {
                "label": "Custom"
              }
            }
          }
        }
      },
      {
        "id": 29,
        "module": "json:TransformToJSON",
        "version": 1,
        "parameters": {
          "space": ""
        },
        "mapper": {
          "object": "{{first(21.array)}}"
        },
        "metadata": {
          "designer": {
            "x": 5100,
            "y": 0
          },
          "restore": {
            "parameters": {
              "space": {
                "label": "Empty"
              }
            }
          },
          "parameters": [
            {
              "name": "space",
              "type": "select",
              "label": "Indentation",
              "validate": {
                "enum": [
                  "tab",
                  "2",
                  "4"
                ]
              }
            }
          ],
          "expect": [
            {
              "name": "object",
              "type": "any",
              "label": "Object"
            }
          ]
        }
      },
      {
        "id": 14,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": false,
          "useNewZLibDeCompress": true
        },
        "mapper": {
          "ca": "",
          "qs": [],
          "url": "https://api.vapi.ai/call/phone",
          "data": "{\n  \"phoneNumberId\": \"{{19.phone_number_id}}\",\n  \"customer\": {\n    \"number\": \"+{{9.`0`}}\",\n    \"name\": \"{{9.`1`}}\",\n    \"extension\": \"\"\n  },\n  \"assistant\": {{29.json}}\n}",
          "gzip": true,
          "method": "post",
          "headers": [
            {
              "name": "Authorization",
              "value": "Bearer {{5.vapi_api_key}}"
            }
          ],
          "timeout": "",
          "useMtls": false,
          "authPass": "",
          "authUser": "",
          "bodyType": "raw",
          "contentType": "application/json",
          "serializeUrl": false,
          "shareCookies": false,
          "parseResponse": true,
          "followRedirect": true,
          "useQuerystring": false,
          "followAllRedirects": false,
          "rejectUnauthorized": true
        },
        "metadata": {
          "designer": {
            "x": 5400,
            "y": 0
          },
          "restore": {
            "expect": {
              "qs": {
                "mode": "chose"
              },
              "method": {
                "mode": "chose",
                "label": "POST"
              },
              "headers": {
                "mode": "chose",
                "items": [null]
              },
              "bodyType": {
                "label": "Raw"
              },
              "contentType": {
                "label": "JSON (application/json)"
              }
            }
          },
          "parameters": [
            {
              "name": "handleErrors",
              "type": "boolean",
              "label": "Evaluate all states as errors (except for 2xx and 3xx )",
              "required": true
            },
            {
              "name": "useNewZLibDeCompress",
              "type": "hidden"
            }
          ],
          "expect": [
            {
              "name": "url",
              "type": "url",
              "label": "URL",
              "required": true
            },
            {
              "help": "Serializes URL and escapes special characters.",
              "name": "serializeUrl",
              "type": "boolean",
              "label": "Serialize URL",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "name": "method",
              "type": "select",
              "label": "Method",
              "default": "get",
              "options": [
                {
                  "label": "GET",
                  "value": "get"
                },
                {
                  "label": "HEAD",
                  "value": "head"
                },
                {
                  "label": "POST",
                  "value": "post"
                },
                {
                  "label": "PUT",
                  "value": "put"
                },
                {
                  "label": "PATCH",
                  "value": "patch"
                },
                {
                  "label": "DELETE",
                  "value": "delete"
                },
                {
                  "label": "OPTIONS",
                  "value": "options"
                }
              ],
              "editable": true,
              "required": true
            },
            {
              "name": "headers",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Headers",
              "labels": {
                "add": "Add a header",
                "edit": "Edit a header"
              },
              "editable": true,
              "required": false
            },
            {
              "name": "qs",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "array",
              "label": "Query String",
              "labels": {
                "add": "Add parameter",
                "edit": "Edit parameter"
              },
              "editable": true,
              "required": false
            },
            {
              "name": "bodyType",
              "type": "select",
              "label": "Body type",
              "options": [
                {
                  "label": "Raw",
                  "value": "raw",
                  "nested": [
                    {
                      "help": "Sets the `Content-Type` request header.",
                      "name": "contentType",
                      "type": "select",
                      "label": "Content type",
                      "options": [
                        {
                          "label": "Text (text/plain)",
                          "value": "text/plain"
                        },
                        {
                          "label": "JSON (application/json)",
                          "value": "application/json"
                        },
                        {
                          "label": "XML (application/xml)",
                          "value": "application/xml"
                        },
                        {
                          "label": "XML (text/xml)",
                          "value": "text/xml"
                        },
                        {
                          "label": "HTML (text/html)",
                          "value": "text/html"
                        },
                        {
                          "label": "Custom",
                          "value": "custom",
                          "nested": [
                            {
                              "name": "customContentType",
                              "type": "text",
                              "label": "Value",
                              "required": true
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "name": "data",
                      "type": "buffer",
                      "label": "Request content"
                    }
                  ]
                },
                {
                  "label": "Application/x-www-form-urlencoded",
                  "value": "x_www_form_urlencoded",
                  "nested": [
                    {
                      "name": "formFields",
                      "spec": [
                        {
                          "name": "key",
                          "type": "text",
                          "label": "Key",
                          "required": true
                        },
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Value"
                        }
                      ],
                      "type": "array",
                      "label": "Fields",
                      "editable": true
                    }
                  ]
                },
                {
                  "label": "Multipart/form-data",
                  "value": "multipart_form_data",
                  "nested": [
                    {
                      "name": "formDataFields",
                      "spec": [
                        {
                          "name": "fieldType",
                          "type": "select",
                          "label": "Field type",
                          "options": [
                            {
                              "label": "Text",
                              "value": "text",
                              "nested": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Value"
                                }
                              ]
                            },
                            {
                              "label": "File",
                              "value": "file",
                              "nested": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "data",
                                  "type": "buffer",
                                  "label": "Data",
                                  "semantic": "file:data"
                                },
                                {
                                  "help": "File name, including the suffix, e.g. invoice, xml",
                                  "name": "fileName",
                                  "type": "filename",
                                  "label": "File name",
                                  "semantic": "file:name"
                                }
                              ]
                            }
                          ],
                          "required": true
                        }
                      ],
                      "type": "array",
                      "label": "Fields",
                      "editable": true
                    }
                  ]
                }
              ]
            },
            {
              "help": "Automatically parses responses and converts JSON and XML responses so you don't need to use JSON or XML parser. Before you can use parsed JSON or XML content, run the module once manually so that the module can recognize the response content and allows you to map it in subsequent modules.",
              "name": "parseResponse",
              "type": "boolean",
              "label": "Parse response",
              "required": true
            },
            {
              "help": "User name for Basic Auth",
              "name": "authUser",
              "type": "text",
              "label": "User name",
              "advanced": true
            },
            {
              "help": "Password for Basic Auth",
              "name": "authPass",
              "type": "password",
              "label": "Password",
              "advanced": true
            },
            {
              "help": "In seconds. Default: 300 seconds. This value controls two timeouts: Read timeout and Connection timeout. Read timeout is a time to wait for a server to send response headers (and start the response body) before aborting the request. Connection timeout sets the socket to timeout after timeout milliseconds of inactivity.",
              "name": "timeout",
              "type": "uinteger",
              "label": "Timeout",
              "advanced": true,
              "validate": {
                "max": 300,
                "min": 1
              }
            },
            {
              "name": "shareCookies",
              "type": "boolean",
              "label": "Share cookies with other HTTP modules",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "help": "Upload your certificate if you want to use TLS using your self-signed certificate.",
              "name": "ca",
              "type": "cert",
              "label": "Self-signed certificate",
              "advanced": true
            },
            {
              "name": "rejectUnauthorized",
              "type": "boolean",
              "label": "Reject connections that are using unverified (self-signed) certificates",
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "name": "followRedirect",
              "type": "boolean",
              "label": "Follow redirect",
              "nested": [
                {
                  "help": "Follows also non-GET HTTP 3xx responses as redirects.",
                  "name": "followAllRedirects",
                  "type": "boolean",
                  "label": "Follow all redirect",
                  "advanced": true,
                  "required": true
                }
              ],
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "help": "By default, Make handles multiple values for the same url query string parameter key as arrays (e.g. `www.test.com?foo=bar&foo=baz`will be converted to `www.test.com?foo[0]=bar&foo[1]=baz`). To disable this feature, activate this option.",
              "name": "useQuerystring",
              "type": "boolean",
              "label": "Disable serialization of multiple same query string keys as arrays",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "help": "Adds an `Accept-Encoding` header to request compressed content.",
              "name": "gzip",
              "type": "boolean",
              "label": "Request compressed content",
              "default": true,
              "advanced": true,
              "required": true
            },
            {
              "name": "useMtls",
              "type": "boolean",
              "label": "Use Mutual TLS",
              "default": false,
              "advanced": true,
              "required": true
            },
            {
              "name": "contentType",
              "type": "select",
              "label": "Content type",
              "validate": {
                "enum": [
                  "text/plain",
                  "application/json",
                  "application/xml",
                  "text/xml",
                  "text/html",
                  "custom"
                ]
              }
            },
            {
              "name": "data",
              "type": "buffer",
              "label": "Request content"
            },
            {
              "name": "followAllRedirects",
              "type": "boolean",
              "label": "Follow all redirect",
              "required": true
            }
          ]
        }
      },
      {
        "id": 33,
        "module": "google-sheets:updateCell",
        "version": 2,
        "parameters": {
          "__IMTCONN__": 2132426
        },
        "mapper": {
          "cell": "C{{9.`__ROW_NUMBER__`}}",
          "value": "called",
          "select": "map",
          "sheetId": "{{9.`__SHEET__`}}",
          "spreadsheetId": "{{9.`__SPREADSHEET_ID__`}}",
          "valueInputOption": "USER_ENTERED"
        },
        "metadata": {
          "designer": {
            "x": 5700,
            "y": 0,
            "name": "Set Called"
          },
          "restore": {
            "expect": {
              "select": {
                "label": "Enter manually"
              },
              "valueInputOption": {
                "mode": "chose",
                "label": "User entered"
              }
            },
            "parameters": {
              "__IMTCONN__": {
                "data": {
                  "scoped": "true",
                  "connection": "google"
                },
                "label": "Google Integraticus (hello@integraticus.com)"
              }
            }
          },
          "parameters": [
            {
              "name": "__IMTCONN__",
              "type": "account:google",
              "label": "Connection",
              "required": true
            }
          ],
          "expect": [
            {
              "name": "select",
              "type": "select",
              "label": "Enter a Spreadsheet and Sheet ID",
              "required": true,
              "validate": {
                "enum": [
                  "map",
                  "fromAll",
                  "list"
                ]
              }
            },
            {
              "name": "cell",
              "type": "text",
              "label": "Cell",
              "required": true
            },
            {
              "name": "value",
              "type": "text",
              "label": "Value"
            },
            {
              "name": "valueInputOption",
              "type": "select",
              "label": "Value input option",
              "validate": {
                "enum": [
                  "USER_ENTERED",
                  "RAW"
                ]
              }
            },
            {
              "name": "spreadsheetId",
              "type": "text",
              "label": "Spreadsheet ID",
              "required": true
            },
            {
              "name": "sheetId",
              "type": "text",
              "label": "Sheet Name",
              "required": true
            }
          ]
        }
      },
      {
        "id": 34,
        "module": "google-sheets:updateCell",
        "version": 2,
        "parameters": {
          "__IMTCONN__": 2132426
        },
        "mapper": {
          "cell": "E{{9.`__ROW_NUMBER__`}}",
          "value": "{{19.phone_number_id}}",
          "select": "map",
          "sheetId": "{{9.`__SHEET__`}}",
          "spreadsheetId": "{{9.`__SPREADSHEET_ID__`}}",
          "valueInputOption": "USER_ENTERED"
        },
        "metadata": {
          "designer": {
            "x": 6000,
            "y": 0,
            "name": "Set Phone ID"
          },
          "restore": {
            "expect": {
              "select": {
                "label": "Enter manually"
              },
              "valueInputOption": {
                "mode": "chose",
                "label": "User entered"
              }
            },
            "parameters": {
              "__IMTCONN__": {
                "data": {
                  "scoped": "true",
                  "connection": "google"
                },
                "label": "Google Integraticus (hello@integraticus.com)"
              }
            }
          },
          "parameters": [
            {
              "name": "__IMTCONN__",
              "type": "account:google",
              "label": "Connection",
              "required": true
            }
          ],
          "expect": [
            {
              "name": "select",
              "type": "select",
              "label": "Enter a Spreadsheet and Sheet ID",
              "required": true,
              "validate": {
                "enum": [
                  "map",
                  "fromAll",
                  "list"
                ]
              }
            },
            {
              "name": "cell",
              "type": "text",
              "label": "Cell",
              "required": true
            },
            {
              "name": "value",
              "type": "text",
              "label": "Value"
            },
            {
              "name": "valueInputOption",
              "type": "select",
              "label": "Value input option",
              "validate": {
                "enum": [
                  "USER_ENTERED",
                  "RAW"
                ]
              }
            },
            {
              "name": "spreadsheetId",
              "type": "text",
              "label": "Spreadsheet ID",
              "required": true
            },
            {
              "name": "sheetId",
              "type": "text",
              "label": "Sheet Name",
              "required": true
            }
          ]
        }
      }
    ],
    "metadata": {
      "instant": false,
      "version": 1,
      "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "slots": null,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
      },
      "designer": {
        "orphans": []
      },
      "zone": "eu1.make.com"
    }
  }