Voice Agent with Customer Memory/dynamic-ai-inbound-agent.json
{
    "name": "Dynamic AI Inbound Agent",
    "flow": [
        {
            "id": 35,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1436304,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Dynamic AI Inbound Agent",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "assistant_id",
                "scope": "roundtrip",
                "value": "c682d628-9214-4b31-a89d-7316582b428d"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "Assistant ID"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "assistant_id",
                        "label": "assistant_id",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "vapi_api_key",
                "scope": "roundtrip",
                "value": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Vapi API Key"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "vapi_api_key",
                        "label": "vapi_api_key",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 36,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "first_name",
                        "value": "{{emptystring}}"
                    },
                    {
                        "name": "last_name",
                        "value": "{{emptystring}}"
                    },
                    {
                        "name": "email",
                        "value": "{{emptystring}}"
                    },
                    {
                        "name": "phone_number",
                        "value": "{{replace(35.message.call.customer.number; \"+\"; emptystring)}}"
                    },
                    {
                        "name": "job_title",
                        "value": "{{emptystring}}"
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "first_name",
                        "label": "first_name",
                        "type": "any"
                    },
                    {
                        "name": "last_name",
                        "label": "last_name",
                        "type": "any"
                    },
                    {
                        "name": "email",
                        "label": "email",
                        "type": "any"
                    },
                    {
                        "name": "phone_number",
                        "label": "phone_number",
                        "type": "any"
                    },
                    {
                        "name": "job_title",
                        "label": "job_title",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 37,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 38,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2132426
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "spreadsheetId": "1e66wKXDLP8Y21Pfnqtc86QxRoXgYjZ_OcC2ReS286C0",
                                "sheetId": "Customers",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "{{36.phone_number}}"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Google Integraticus (hello@integraticus.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Dynamic AI Inbound Agent Customers"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Customers"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        },
                                        "orderBy": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Enter a Spreadsheet ID and Sheet Name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "number",
                                        "label": "Maximum number of returned rows"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "Phone Number (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "First Name (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "Last Name (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "Email (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "(E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "(F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "(G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "(H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "(I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "(J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "(K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "(L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "(M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "(N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "(O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "(P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "(Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "(R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "(S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "(T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "(U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "(V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "(W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "(X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "(Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "(Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "(AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "(AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "(AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "(AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "(AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "(AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "(AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "(AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "(AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "(AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "(AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "(AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "(AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "(AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "(AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "(AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "(AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "(AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "(AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "(AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "(AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "(AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "(AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "(AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "(AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    {
                                        "name": "first_name",
                                        "value": "{{38.`1`}}"
                                    },
                                    {
                                        "name": "last_name",
                                        "value": "{{38.`2`}}"
                                    },
                                    {
                                        "name": "email",
                                        "value": "{{38.`3`}}"
                                    },
                                    {
                                        "name": "job_title",
                                        "value": "{{38.`4`}}"
                                    }
                                ],
                                "scope": "roundtrip"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        },
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "type": "array",
                                        "label": "Variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Variable name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Variable value",
                                                "type": "any"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "first_name",
                                        "label": "first_name",
                                        "type": "any"
                                    },
                                    {
                                        "name": "last_name",
                                        "label": "last_name",
                                        "type": "any"
                                    },
                                    {
                                        "name": "email",
                                        "label": "email",
                                        "type": "any"
                                    },
                                    {
                                        "name": "job_title",
                                        "label": "job_title",
                                        "type": "any"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 40,
                            "module": "util:GetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "variables": [
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "job_title"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "type": "array",
                                        "label": "Variables",
                                        "spec": {
                                            "name": "value",
                                            "label": "Variable name",
                                            "type": "text",
                                            "required": true
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "first_name",
                                        "label": "first_name",
                                        "type": "any"
                                    },
                                    {
                                        "name": "last_name",
                                        "label": "last_name",
                                        "type": "any"
                                    },
                                    {
                                        "name": "email",
                                        "label": "email",
                                        "type": "any"
                                    },
                                    {
                                        "name": "job_title",
                                        "label": "job_title",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 2,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://api.vapi.ai/assistant/{{3.assistant_id}}",
                                "serializeUrl": false,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Authorization",
                                        "value": "Bearer {{5.vapi_api_key}}"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "",
                                "parseResponse": false,
                                "authUser": "",
                                "authPass": "",
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "dynamic_assistant",
                                "scope": "roundtrip",
                                "value": "{{2.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "label": "Variable name",
                                        "type": "text",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "label": "Variable lifetime",
                                        "type": "select",
                                        "required": true,
                                        "default": "roundtrip",
                                        "options": [
                                            {
                                                "label": "One cycle",
                                                "value": "roundtrip"
                                            },
                                            {
                                                "label": "One execution",
                                                "value": "execution"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "value",
                                        "label": "Variable value",
                                        "type": "any"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "dynamic_assistant",
                                        "type": "any",
                                        "label": "dynamic_assistant"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "mapper": {
                                "json": "[\n  {\n    \"tag\": \"first_name\",\n    \"value\": \"{{40.first_name}}\"\n  },\n  {\n    \"tag\": \"last_name\",\n    \"value\": \"{{40.last_name}}\"\n  },\n  {\n    \"tag\": \"current_time\",\n    \"value\": \"{{formatDate(now; \"YYYY-MM-DD hh:mm A\")}}\"\n  },\n  {\n    \"tag\": \"email\",\n    \"value\": \"{{40.email}}\"\n  },\n  {\n    \"tag\": \"job_title\",\n    \"value\": \"{{40.job_title}}\"\n  }\n]"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300,
                                    "name": "Dynamic Variables"
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "dynamic_assistant"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "label": "Variable name",
                                        "type": "text",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "dynamic_assistant",
                                        "type": "any",
                                        "label": "dynamic_assistant"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "dynamic_assistant",
                                "scope": "roundtrip",
                                "value": "{{replace(toString(16.dynamic_assistant); \"[\" + 8.tag + \"]\"; 8.value)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "label": "Variable name",
                                        "type": "text",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "label": "Variable lifetime",
                                        "type": "select",
                                        "required": true,
                                        "default": "roundtrip",
                                        "options": [
                                            {
                                                "label": "One cycle",
                                                "value": "roundtrip"
                                            },
                                            {
                                                "label": "One execution",
                                                "value": "execution"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "value",
                                        "label": "Variable value",
                                        "type": "any"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "dynamic_assistant",
                                        "type": "any",
                                        "label": "dynamic_assistant"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 8
                            },
                            "mapper": {
                                "tag": "{{8.tag}}",
                                "value": "{{8.value}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Dynamic Variables - Parse JSON [8]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 15,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "dynamic_assistant"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 300
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "label": "Variable name",
                                        "type": "text",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "dynamic_assistant",
                                        "type": "any",
                                        "label": "dynamic_assistant"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "mapper": {
                                "json": "[{{15.dynamic_assistant}}]"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "label": "JSON string",
                                        "type": "text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 20
                            },
                            "mapper": {
                                "name": "{{20.name}}",
                                "model": "{{20.model}}",
                                "voice": "{{20.voice}}",
                                "serverUrl": "{{20.serverUrl}}",
                                "transcriber": "{{20.transcriber}}",
                                "firstMessage": "{{20.firstMessage}}",
                                "hipaaEnabled": "{{20.hipaaEnabled}}",
                                "clientMessages": "{{20.clientMessages}}",
                                "endCallMessage": "{{20.endCallMessage}}",
                                "endCallPhrases": "{{20.endCallPhrases}}",
                                "serverMessages": "{{20.serverMessages}}",
                                "backgroundSound": "{{20.backgroundSound}}",
                                "recordingEnabled": "{{20.recordingEnabled}}",
                                "voicemailMessage": "{{20.voicemailMessage}}",
                                "endCallFunctionEnabled": "{{20.endCallFunctionEnabled}}",
                                "dialKeypadFunctionEnabled": "{{20.dialKeypadFunctionEnabled}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4200,
                                    "y": 300,
                                    "name": "Key Whitelist"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "JSON - Parse JSON [20]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 29,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "mapper": {
                                "object": "{{first(21.array)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "label": "Object",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 41,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "status": "200",
                                "body": "{\n  \"assistant\": {{29.json}}\n}",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4800,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "validate": {
                                            "min": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        },
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}